<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<body>
	
		<div th:fragment="main-menu"  >
			<a href="/categories">Products</a>
			&nbsp;
			<a href="/shoppingCart">Shopping Cart</a>
			&nbsp;
			<a href="/profile">Profile</a>
			&nbsp;
			<a href="/logout">Logout</a>
		</div>

		<div th:fragment="main-admin-menu"  >
			<a href="/adminHome">Admin Home</a>
			&nbsp;
			<a href="/logout">Logout</a>
		</div>
		
		<p th:fragment="footer-menu">
			<a href="privacy">Privacy</a>
			<a href="terms">Terms and Conditions</a>
		</p>
	
	</body>
</html>