<!DOCTYPE HTML>
<html>
<head>
<title>Checkout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/menu :: main-menu" >main menu goes here</div>
	
	<h1>Checkout successful!</h1>
	<p>Your order below will processed shortly.</p>
	
	<table>
		<thead>
			<tr>
				<th>Item &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
				<th>Format &nbsp; &nbsp; &nbsp;</th>
				<th>Price &nbsp; &nbsp;</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prod : ${cart.products}">
				<td>
					<span th:text="${prod.product.name}">text</span>
				</td>
				<td>
					<span th:text="${prod.product.category.name}">text</span>
				</td>
				<td>
					<span th:text="${prod.product.price}">text</span>
				</td>
				<td>
					<span th:text="${prod.count}">text</span>
				</td>
			</tr>
			<tr>
			<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Total: 
					<span th:text="${cart.sumOfAllProducts()}">text</span>
					SEK
				</td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>
