<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Your profile</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/menu :: main-menu" >main menu goes here</div>
	
	<h1>Your profile</h1>

	<p>
		<div><b>User name:</b></div>
		<span th:text="${customer.username}">text</span></p>
	<p>
		<div><b>Address:</b></div>
		<span th:text="${customer.firstName}">text</span>	
		<span th:text="${customer.secondName}">text</span>
		<div th:text="${customer.address1}">text</div>	
		<div th:text="${customer.address2}">text</div>	
		<div th:text="${customer.address3}">text</div>	
		<div th:text="${customer.zip}">text</div>	
		<div th:text="${customer.country}">text</div>	
	</p>
	
</body>
</html>
