<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Top ten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Top Ten List</h2>
<table>
	<thead>
        <tr>
            <th> Player </th>
            <th> Average </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="r : ${topTenList}">
            <td><span th:text="${r.player}"> Player </span></td>
            <td><span th:text="${r.average}"> Average </span></td>
        </tr>
    </tbody>
</table>

</body>
</html>
